/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

/* STYLES */
/* Write your CSS below */
#apple-titulo{
  background-image: url(../images/apple-pie.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
  padding: 200px 200px;
  font-size: 75px;
}
#texto-inicial{
  text-align: center;
  padding: 40px 200px;
}

.img-info{
  display: block;
  margin: auto;
  width: 500px;
}

.div-list{
  margin: 30px 0px;
}

.sub-titulo{
  padding-bottom: 20px;
  margin-left: 100px;
}

.list{
  margin-left: 120px;
}

hr{
  margin:0px 100px;
}

#ol-list{
  list-style-position: inside;
  counter-reset: list;
  margin-right: 150px;
}

#ol-list > li{
  list-style: none;
}

#ol-list > li:before{
  content: counter(list)")";
  counter-increment: list;
}

#ul-list{
list-style-type:"- ";
}